.img-diapo {
    max-width: 600px;
    max-height: 450px;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: circle;
}

.centrado {
    text-align: center;
}

.escondido {
    visibility: hidden;
}

.texto3d {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.titulo_diapo {
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    background-color: rgba(174, 175, 174, 0.40);
    height: 70px;
    color: #e6ffe1;
    /*padding: 10px 0 10px 0;*/
    /*margin-bottom: 40px;*/
    font-weight: bold;
}

.titulo_diapo2 {
    text-align: center;
    font-size: 35px;
    color: #57913f;
    margin-bottom: 40px;
    font-weight: bold;
}

.titulo_diapo_central {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #208c1b;
    margin-top: 20%;
    border-width: 3px;
    border-top: solid #005c06;
    border-bottom: solid #005c06;
    padding-top: 80px;
    padding-bottom: 80px;
    line-height: 100%;
}

.titulo_diapo_caratula {
    text-align: center;
    font-size: 1.8em;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
    color: #ebffe8;
    line-height: 120%;
}

.fudcon_logo {
    margin-top: 0;
}

.me {
    padding: 10px;
    width: 100%;
    line-height: 1;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.loader {
    margin-top: 20%;
    vertical-align: middle;
    text-align: center;
}

.date-footer {
    text-align: center;
}