.start {
    position: relative;
    width: 16em;
    font-size: 190%;
    font-weight: 400;
    /*margin: 20% auto;*/
    color: #4ee;
    opacity: 0;
    z-index: 1;
    -webkit-animation: intro 4s ease-out;
    -moz-animation: intro 4s ease-out;
    -ms-animation: intro 4s ease-out;
    -o-animation: intro 4s ease-out;
    animation: intro 4s ease-out;
}

@-webkit-keyframes intro {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes intro {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes intro {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes intro {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes intro {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.starh1 {
    position: absolute;
    /*width: 2.6em;*/
    top: -30%;
    font-size: 9em;
    text-align: center;
    margin-left: -1.3em;
    line-height: 0.75em;
    letter-spacing: -0.05em;
    color: #000;
    text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6;
    opacity: 0;
    z-index: 1;
    -webkit-animation: logo 5s ease-out 4s;
    -moz-animation: logo 5s ease-out 4s;
    -ms-animation: logo 5s ease-out 4s;
    -o-animation: logo 5s ease-out 4s;
    animation: logo 5s ease-out 4s;
}

.starh1 sub {
    display: block;
    font-size: 0.3em;
    letter-spacing: 0;
    /*line-height: 0.8em;*/
}

@-webkit-keyframes logo {
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.1);
        opacity: 0;
    }
}

@-moz-keyframes logo {
    0% {
        -moz-transform: scale(1);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        -moz-transform: scale(0.1);
        opacity: 0;
    }
}

@-ms-keyframes logo {
    0% {
        -ms-transform: scale(1);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        -ms-transform: scale(0.1);
        opacity: 0;
    }
}

@-o-keyframes logo {
    0% {
        -o-transform: scale(1);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        -o-transform: scale(0.1);
        opacity: 0;
    }
}

@keyframes logo {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(0.1);
        opacity: 0;
    }
}

/* the interesting 3D scrolling stuff */
.titles {
    /*background-color: #000000;*/
    color: #ff6;
    line-height: 100%;
    position: absolute;
    width: 15em;
    height: 100em;
    bottom: -10%;
    left: -40%;
    /*margin-left: -9em;*/
    font-size: 350%;
    text-align: left;
    overflow: hidden;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: perspective(300px) rotateX(25deg);
    -moz-transform: perspective(300px) rotateX(25deg);
    -ms-transform: perspective(300px) rotateX(25deg);
    -o-transform: perspective(300px) rotateX(25deg);
    transform: perspective(300px) rotateX(25deg);
}

.titles:after {
    position: absolute;
    content: ' ';
    margin-left: -4em;
    right: 0;
    top: -9em;
    bottom: 60%;
    pointer-events: none;
}

.titles {
    text-align: left;
    margin: 0 0;
    font-family: "Droid Sans", arial, verdana, sans-serif;
    font-weight: 700;
    color: #ff6;
    overflow: hidden;
}

.titlecontent {
    position: absolute;
    top: 100%;
    -webkit-animation: scroll 300s linear 8s infinite;
    -moz-animation: scroll 300s linear 8s infinite;
    -ms-animation: scroll 300s linear 8s infinite;
    -o-animation: scroll 300s linear 8s infinite;
    animation: scroll 300s linear 8s infinite;
}

/* animation */
@-webkit-keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}

@-moz-keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}

@-ms-keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}

@-o-keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}